<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Gestions des collaborateurs</h1>
</div>
<div class="wrapper-md">
	<!--<button class="btn m-b-xs btn-sm btn-primary btn-addon" data-target="#ajouterCollab" data-toggle="modal">Ajouter un collaborateur</button>
  -->
   <div ng-controller="ModalDemoCtrlCollab" class="panel b-a">
          <script type="text/ng-template" id="myModalContent.html">
            <div ng-include="'tpl/pageApp/modalCollab.html'"></div>
          </script>
          <div class="panel-heading b-b b-light">Ajout des collaborateurs</div>
          <div class="panel-body">
            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="open()">Ajouter Collaborateur</button>
          </div>
      </div>
   <div class="panel panel-default">
    <div class ="panel-heading">
      La liste des collaborateurs
    </div>
	<div class="panel-body b-b b-light">
      Rechercher: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div class="table-responsive">
	
      <table  class="table m-b-none" data-filter="#filter" ui-jq="footable" data-page-size="5" ng-controller="CollaborateurCtrl">
        <thead>
          <tr>
            <th>Prénom</th>
			 <th>Nom </th>
			 <th>Matricule</th>
			 <th>Date de recrutement</th>
            <th>Email</th>
			 <th>Nom Manager RH</th>
			 <th>Prénom Manager RH</th>
			 <th>Action</th>
          </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="c in collaborateurs"><td editable-text="c.prenomUser">{{c.prenomUser || empty}}</td>
		  <td editable-text="c.nomUser">{{c.nomUser || empty}}</td><td editable-text="c.matriculeUser">{{c.matriculeUser || empty}}</td>
		  <td>{{c.dateRecrutement |date:'yyyy-MM-dd'}}</td><td editable-text="c.mailUser">{{c.mailUser || empty}}</td>
		 	  <td >{{c.managerrh.prenomUser }}</td><td >{{c.managerrh.nomUser}}</td><td><button class="btn btn-info" ng-click="modifier(c)">Modifier</button></td>
		  </tr> 
        </tbody>
		 <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
	  
	  
    </div>
  </div>
</div>
