<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Consulter Anciens Bap d'un Collaborateur</h1>
</div>
<div class="wrapper-md" ng-controller="bapCtrl">
	<!--<button class="btn m-b-xs btn-sm btn-primary btn-addon" data-target="#ajouterCollab" data-toggle="modal">Ajouter un collaborateur</button>
  -->
   <div class="panel b-a">
         
          <div class="panel-body">
		     <div class="col-sm-2">Choisir Matricule du Collaborateur</div>
			   <div class="col-sm-2">		<select class="form-control m-t"	ng-model="idCollaborateur" ng-change="chargerBapsAdmin()">
			          <option ng-repeat="c in collabs" ng-value="c.idCollaborateur">{{c.matriculeUser}}</option>
		           </select> 
			   </div>
			   <div class="col-sm-2" ng-if="baps">		<select class="form-control m-t"	ng-model="idBap">
			          <option ng-repeat="b in baps" ng-value="b.idBap">{{b.dateBap|date:'yyyy-MM'}}</option>
		           </select> 
			   </div>
				    <div class="col-sm-2">	<button class="btn btn-info">Fiche Objectifs</button></div>
                   <div class="col-sm-2">	<button class="btn btn-info" >Feedbacks</button> </div> 
           </div>
	</div>
	
	<div class="panel panel-default">  
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Nom Collaborateur</th>
        <th>Prénom</th>
        <th>Email</th>
		 <th>Poste</th>
		 <th>Note Finale</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{firstName}}</td>
        <td>{w.lastName</td>
        <td>ow.birthDate}}</td>
        <td>ow.balance}}</td>
	  	 <td>ow.balance}}</td>
      </tr>
      </tbody>
    </table>
  </div>
	
  
  <div class="panel panel-default" > ng-if="ficheObjectifs"
    <div class ="panel-heading">
      Fiche d'objectifs
    </div>
    <div class="table-responsive">
	    <table class="table table-bordered table-hover table-condensed bg-white-only">
     <tr style="font-weight: bold">
      <td>Catégorie</td>
	  <td>Objectif</td>
      <td>Description</td>
	  <td>Mesure</td>
	  <td>Responsable Mesure</td>
	  <td>Profil Responsable Mesure</td>
	  <td>Poids</td>
	  <td>Résultat</td>
	  <td>Note Finale</td>
    </tr>
    <tr ng-repeat="obj in ficheObjectifs">
        <td class="v-middle">{{obj.categorie.nomCategorie}}</td>
		<td class="v-middle">Objectif</td>
		<td class="v-middle">{{obj.description}}</td>
		<td class="v-middle">
		  <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.mesureObj}}</div>
		</td>
		<td class="v-middle">
		  <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.encadrant.nomUser}} {{eval.encadrant.prenomUser}}:{{eval.encadrant.matriculeUser}}</div>
		</td>
		<td class="v-middle">
		  <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.encadrant.profil.nomProfil}}</div>
		</td>
		<td class="v-middle">
		   <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.poidsObj}}</div>
		</td>
		<td class="v-middle">
		   <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.resultatObj}}</div>
		</td>
       <td class="v-middle">
		   <div ng-repeat="eval in obj.evaluationobjectifs">{{eval.noteFinaleObj}}</div>
		</td>
	</tr>
  </table>
    </div>
  </div>
</div>
