<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Gestions des collaborateurs</h1>
</div>
<div class="wrapper-md">
   <div class="panel panel-default">
    <div class ="panel-heading">
      La liste des objectifs à évaluerrrrrrr
    </div>
	<div class="panel-body b-b b-light">
      Rechercher: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div class="table-responsive">
	
      <table  class="table m-b-none" data-filter="#filter" ui-jq="footable" data-page-size="5" ng-controller="FicheCtrl">
        <thead>
          <tr>
            <th>Prénom Collaborateur</th>
			 <th>Nom </th>
			 <th>Matricule</th>
			 <th>Description Objectif</th>
			 <th>Catégorie Objectif</th>
			 <th>Mesure</th>
			 <th>Poids</th>
			 <th>Résultat</th>
			 <th>Action</th> 
          </tr>
		  </thead>
		  <tbody>
		<tr ng-repeat="objet in objectifs">
		  <td>{{objet[0].collaborateur.prenomUser}}</td>   <td>{{objet[0].collaborateur.nomUser}}</td>        <td>{{objet[0].collaborateur.matriculeUser}}</td>
		  <td>{{objet[1].description}}</td>        <td>{{objet[1].categorie.nomCategorie}}</td> 		<td >{{objet[0].mesureObj}}</td>
		  <td>{{objet[0].poidsObj}}</td>        <td ng-model="resultatObj" editable-text="objet[0].resultatObj">{{objet[0].resultatObj}}</td>  
		  <td><button class="btn btn-sm btn-info" ng-click="evaluerObjectif(objet[0])">Envoyer</button></td>
		</tr> 
        </tbody>
		 <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
	  
	  
    </div>
  </div>
</div>
