<div class="modal-header">
    <h3 class="modal-title">Veuillez remplir les champs</h3>
</div>
<div class="modal-body">
   <div class="panel panel-default">
        <div class="panel-heading font-bold"> Informations du collaborateur</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal" >
          <div class="form-group">
              <label class="col-lg-2 control-label">Prénom</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Prenom du collaborateur" ng-model="collaborateur.prenomUser">
              </div>
            </div>
          <div class="form-group">
              <label class="col-lg-2 control-label">Nom</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Nom du collaborateur" ng-model="collaborateur.nomUser">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Matricule</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="matriculeUser" placeholder="Matricule du collaborateur" ng-model="collaborateur.matriculeUser">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Mail</label>
              <div class="col-lg-10">
                <input type="email" class="form-control" name="mailUser" placeholder="Email du collaborateur" ng-model="collaborateur.mailUser">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Date de recrutement </label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="Date de recrutement" ng-model="collaborateur.dateRecrutement">
              
              </div>
            </div> 
			<div class="form-group">
              <label class="col-lg-2 control-label">Manager Rh</label><input type="number" ng-model="collaborateur.idManagerrh">
              <div class="col-lg-10">
           <!--    <select class="form-control" ng-model="collaborateur.idManagerrh"><option>1</option><option>2</option><option>3</option></select>-->
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-info" ng-click="inserer_collab()">Valider </button>
				 <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
<!-- <div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div> -->